{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    

<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for product in products %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
             <img src="{{ asset("build/images/" ~ product.image) }}" alt="{{product.image}}" height="300"/>
              <div class="card-body">
                <h4>{{ product.name }}</h4>  
                <p class="card-text">{{ product.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
         {% endfor %}
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}

{#  Ici on ajoute le script homepage au script app qu'il y a dans le parent #}
{#
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('homepage') }}
    {% endblock %}
#}

